{{extend 'layout.html'}}

<h2 class="pagetitle">Archive for the &#8216;{{=request.args[0]}}&#8217; Category</h2>

{{if posts:}}
	{{for post in posts:}}
	<div class="post">
	    <h2><a href="{{=URL(r=request,f='post/%d' % post.id)}}">{{=post.post_title}}</a></h2>
	    <small>{{=post.post_time.strftime("%B %d, %Y")}}</small>
	    <div class="entry">
	    	<p>
				{{=post.post_text}}
	    	</p>
	    </div>
		<p class="postmetadata">
			Posted in {{=get_post_cats(post.id)}} | {{if session.authorized:}}<a href="{{=URL(r=request,f='edit/post/%d' % post.id)}}">Edit</a> | {{pass}}{{=get_comment_count(post.id)}}
		</p>
	</div>
	{{pass}}
{{else:}}
	<h2 class="center">Not Found</h2>
	<p class="center">Sorry, but you are looking for something that isn't here.</p>
{{pass}}